.parallax {
    background: url("../img/parallax.png") no-repeat;
    position: absolute;
    z-index: 1;

    &--dots {
        width: 500px;
        height: 260px;
    }
    &--circle {
        width: 150px;
        height: 150px;
    }
    &--traingles {
        width: 360px;
        height: 80px;
    }
    &--hart {
        width: 290px;
        height: 30px;
    }
    &--1 {
        background-position: 0 0;
        top: 50vh;
        left: 60vw;
    }
    &--2 {
        background-position: -500px 0;
        top: 50vh;
         left: 10vw;
    }
    &--3 {
        background-position: -650px 0;
        top: 40vh;
        left: 40vw;
    }
    &--4 {
        background-position: -1010px 0;
        top: 660vh;
        left: 80vw;
    }
   &--5 {
        background-position: 0 -300px;
        top: 560vh;
        left: 50vw;
    } 
    &--6 {
        background-position: -500px -300px;
        top: 390vh;
        left: 20vw;
    }
    &--7 {
        background-position: -650px -300px;
        top: 230vh;
        left: 13vw;
    }
    &--8 {
        background-position: -1010px -300px;
        top:  150vh;
        left: 12vw;
    }
    &--9 {
        background-position: 0 -600px;
        top:  260vh;
        left: 20vw;
    }
    &--10 {
        background-position: -500px -600px;
        top:  150vh;
        left: 65vw;
    }
    &--11 {
        background-position: -650px -600px;
        top: 380vh;
        left: 60vw;
    }
    &--12 {
        background-position: -1010px -600px;
        top: 579vh;
        left: 5vw;
    }
    &--13 {
        background-position: 0 -900px;
        top: 820vh;
        left: 60vw
}
    &--14 {
        background-position: -500px -900px;
        top: 790vh;
        left: 75vw
    }
    &--15 {
        background-position: -650px -900px;
        top: 550vh;
        left: 40vw;
    }
    &--16 {
        background-position: -1010px -900px;
        top: 750vh;
        left: 70vw;
    }
}

