.portfolio {
  &__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 100vh;
    
    &__image {
      width:50%;
      max-width: 90%;
      margin-top:7%;
      margin-left:5%;
      img {
        max-width: 100%;
      }
    }
    &__description {
      width:35%;
      text-align:left;
      font-size:1.25em;
      max-width: 100%;
      margin-top:7%;
      margin-left:5%;
      margin-right:5%;
      
    }
  }  
}
button{
    height: 2.5em;
    margin-top: 2em;
}
@media screen and (max-width: 975px) {
.portfolio__item {
  &__image{
    width:90%;
  }
  &__description{
    width:90%;
    margin-bottom:10%;
  }
 }
}

