.portfolio {
    position: relative;
    z-index: 2;

    &__item {
        padding: 10vh 5vw;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        min-height: 80vh;

        &__image {
            width: 100%;
            max-width: 100%;
            margin-top:7%;
            img {
                max-width: 100%;
                transition: box-shadow 0.3s;
                &:hover {
                    box-shadow: -5px 5px 0 $shadow;
                }
            }
        }
        &__description {
            width: 100%;
            text-align:left;
            max-width: 100%;
        }
    }  
}

@media screen and (min-width: 1024px) {
    .portfolio__item {
        padding: 10vh 10vw;
        &__image{
            width:50%;
        }
        &__description{
            width:45%;
            margin-bottom:10%;
            margin-top: 7%;
            margin-left: 5%;
        }
    }
}
@media screen and (min-width: 1279px) {
    .portfolio__item__description{
        margin-top: 12%;
    }
}
