body {
  font-family: "Catamaran", Arial, Helvetica, "sans-serif";
  color: $black;
  font-size: 16px;
  font-weight: 500;
}
.title {
  font-size: 3em;
}
.description {
  font-size: 1.5em;
  margin-top: 1em;
}
.portfolio__item__description .title{
  font-size:2em;
}
@media screen and (max-width: 480px) {
  html {
    font-size: 1em;
  }
}