html {
  font-size: 16px;
  box-sizing: border-box;
}

body {

  font-family: "Catamaran", "sans-serif";
  text-align: center;
  color: #000;
  padding: 0;
  margin: 0;

}
.container{
  min-height: 100vh;
  position:relative;

}
.container__home{
  background-image: url("../img/desktopView.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
 .container__block__title{
   font-size:2em;
 }
 .container__block__paragraph{
   max-width:550px;
 }


.frame{
  border:1.5em solid #f2efe8;
  position:fixed;
  z-index:2;
  top:0;
  bottom:0;
  right:0;
  left:0;

  &__menu ul{
    position:absolute;
    right:0;
    top:0;
    background-color: #f2efe8;
    height:56px;
    margin-top:0;
    li{
      display: inline;
      text-decoration: none;
      font-size:1.5em;
      margin-left: 20px;
      a{
        text-decoration: none;
        color:#000;
        &:hover{
          text-decoration: underline;
        }
      }

      &:last-child{
        margin-right:5px;
      }
    }
  }
}
.frame__menu .active{
  color:red !important;
}
.container__block--description{
  text-align: left;
  position:absolute;
  bottom:35%;
  left: 20%;
  right: 10%;
  z-index: 4
}
.container__icons{
  position:absolute;
  bottom:3%;
  right:3%;
}
.container__icons {
  font-size:2.5em;
  color:#fff;
}
.container--portfolio{
  background-color: #b0aac2;
  display:flex;
  align-items: center;
}
.container--portfolio--leftcolumn{
  background: url("../img/architekturawina.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width:50em;
  height:37.5em;
  margin: 6%;

}
.container--portfolio--rightcolumn{
  text-align:left;
  max-width:360px;
  margin-left:-35px;
  font-size:1.25em;
  position:relative;
  .container__icons--portfolio{
    font-size:2.5em;
    color:#fff;
  }
}
.container--contact{
  background-color: #c2d4d8;
}
.fa-phone{
  transform: rotate(90deg);
}
//below is code for parallax animation
.parallax{
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  z-index: 3;
}
.parallax-1{
  background: url("../img/dots.png");
  width:400px;
	height:200px;
	bottom: 5%;
	left: 40%;
}
.parallax-2{
  background: url("../img/ring.png");
  width:150px;
	height:150px;
	bottom: 45%;
	left: 15%;
}
.parallax-3{
  background: url("../img/line.png");
  width:400px;
	height:30px;
	right: 10%;
	bottom: 25%;
}
@media screen and (max-width: 480px) {
  html{
    font-size:1em;
  }
 .frame__menu ul{
    margin:0;
    padding:0;
    width:100%;
  } 
 .frame__menu ul  li{
    margin-left: 5px;
    font-size:1em;
  }
  .container__block__title{
    font-size:1.25em;
  }
}  
